<div class="thumbnail">
  <button class="btn btn-default btn-link pull-right" ng-click="currentViewMode.editMode=!currentViewMode.editMode">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
  <img class="img-responsive" ng-src="{{product.imageUrl}}" />
  <div class="caption" ng-hide="currentViewMode.editMode">
    <span class="label label-primary" ng-repeat-start="category in product.categories">{{category}}</span>
    <span ng-repeat-end> </span>
    <h3 class="product_name">{{product.name}}</h3>
    <p class="product_description">{{getProductDescription()}}</p>
    <button type="button" class="btn btn-primary" ng-click="toggleDescription()">{{currentViewMode.descriptionViewMode}}</button>
    <button type="button" class="btn btn-link" ng-click="product.addedToCart = !product.addedToCart">
      <span ng-show="product.addedToCart"
        class="glyphicon glyphicon-check"></span>Buy it!</button>
    <p class="text-right">{{price}}</p>
  </div>
  <form ng-show="currentViewMode.editMode">
    <input type="text" class="form-control" ng-model="product.imageUrl">
    <input type="text" class="form-control" ng-model="product.sname">
    <textarea class="form-control" rows="3" ng-model="product.description"></textarea>
    <input type="text" class="form-control" ng-model="product.price">
  </form>
</div>
