<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- <pre>{{products|json}}</pre>
    <pre>{{filterOptions|json}}</pre> -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#myfilters">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myfilters">
      <ul class="nav navbar-nav">
        <li ng-class="{'active':filterOptions.showSpecialOffers}"
          ng-click="toggleSpecialOffers()">
          <a href="#">
            <span class="glyphicon"
              ng-class="{'text-success glyphicon-eye-open': filterOptions.showSpecialOffers,
              'text-danger glyphicon-eye-close': !filterOptions.showSpecialOffers}"></span>
            Special Offers</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sorted by: {{filterOptions.currentSortOption.label}}
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="sortOption in sortOptions">
              <a href="#" ng-click="updateSortOption(sortOption)">
                <span class="text-success glyphicon glyphicon-ok"
                  ng-show="filterOptions.currentSortOption===sortOption"></span>
                  {{sortOption.label}}</a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-form navbar-right">
        <div class="input-group">
          <input class="form-control" type="text" id="filter"
            placeholder="Search items here!"
            ng-model="filtering"/>
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
          <div class="input-group-btn dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-tag"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li ng-repeat="category in getCategories()"
                ng-click="toggleCategoryFilter(category)">
                <a href="#">
                  <span ng-show="categoryFilter.indexOf(category) > -1" class="text-success glyphicon glyphicon-ok"></span>
                  {{category}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <p class="navbar-text navbar-right">Hello <a href="#" class="navbar-link">^_^</a>!</p>
    </div>
  </div>
  <!--<div class="row">
    <!--<div class="col-xs-6 col-md-3">
      <span>Sort by:</span>
      <button type="button" class="btn"
        ng-class="{'btn-primary':currentSortOption.name === 'name'}"
        ng-click="sortBy('name')">
        <span ng-show="currentSortOption.name === 'name'">
          <span ng-hide="currentSortOption.desc" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="currentSortOption.desc" class="glyphicon glyphicon-chevron-down"></span>
        </span>
        name
      </button>
      <button type="button" class="btn"
        ng-class="{'btn-primary':currentSortOption.name === 'price'}"
        ng-click="sortBy('price')">
        <span ng-show="currentSortOption.name === 'price'">
          <span ng-hide="currentSortOption.desc" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="currentSortOption.desc" class="glyphicon glyphicon-chevron-down"></span>
        </span>
        price
      </button>
    </div>
    <div class="col-xs-6 col-md-3">
      <select class="form-control"
        ng-model="currentSortOption"
        ng-options="sortOption as sortOption.label for sortOption in sortOptions ">
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <span>Filter by tags:</span>
      <button type="button" class="btn btn-primary" data-toggle="button"
        ng-repeat-start="category in getCategories()"
        ng-click="toggleCategoryFilter(category)">
        {{category}}
      </button>
      <span ng-repeat-end> </span>
    </div>
  </div>-->

</nav>
