<div class="well">
  <h2>I want to order the products</h2>
  <form name="orderForm" novalidate>
    <div class="form-group">
      <label for="name">First and last name</label>
      <input id="name" type="text" class="form-control" placeholder="Enter your name here!"
        ng-model="formData.name" required>
    </div>
    <div class="form-group">
      <label for="street">Street</label>
      <input id="street" type="text" class="form-control" placeholder="Long street 21"
        ng-model="formData.street" required>
    </div>
    <div class="form-group">
      <label for="postcode">Postcode</label> and <label for="city">City</label>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <input id="postcode" type="text" class="form-control" placeholder="Postcode (00-000)"
            ng-model="formData.postcode" required>
        </div>
        <div class="col-xs-8 col-md-9">
          <input id="city" type="text" class="form-control" placeholder="City"
            ng-model="formData.city" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
          <button
            ng-disabled="orderForm.$invalid"
            class="btn btn-primary btn-block" type="submit">Order the products</button>
        </div>
      </div>
    </div>
  </form>
</div>
